@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/*background color*/
.bad{
    background-color: black;
    color: white;

}


/* Nav Styles */
nav{
display: flex;
align-items: center;
justify-content: space-between;
margin: 0  100px ;



}
/*button color*/
.text-praimary{
    color: #FD6E0A;
    margin-bottom: 80%;
}
.btn-praimary-2{
    color: #FD6E0A;
    background-color: none;
}
.div btn-praimary-3{
    color: #FD6E0A;
}
.btn-description{
    background-color: #FD6E0A;
   
}
.btn-praimary-7{
    width: auto;
      background-color: #FD6E0A;
}

nav ul{
display: flex;
align-items: center;
padding-top: 0%;
margin-bottom: 80%;


}
nav ul li{
list-style: none;
margin-left:25px ;



}
nav li a{
text-decoration: none;
font-size: 12px;

}

div img style{
    width: 100%;
}

.div single-style{
    justify-content: space-between;
    margin-right: 5px;
    gap: 20px;
}
.font-style-1{
    font-weight:700;
    font-size: 3rem;
}
.div small-font{
        font-weight: 5px;
        font-size: small;
}
.div dubble-style{
    justify-content: space-between;
    gap: 20px;
}  


.div font-style{
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 50px;
}
.font-size{
    font-size: 3rem;
    font-weight: 700;
}
.Habits{
    align-items: center;
    margin: 0  300px ;
    font-size: 2rem;
    font-weight: 700;

}
.Change{
    align-items: center;
    margin: 0  300px ;
}

.pic-4{
    text-align: center;
}

    /*content style*/
.content-3{
    background-color: #727272;
      width: 600px;
       border: 1px solid skyblue;
       padding: 10px;
       border-radius: 10px;
       align-items: center;
       margin: 0  175px ;
    border-right: 10px;
    justify-content: space-between;

    }
    .content-2.1{
        width:20px
     }

    .content-4{
        display: flex;
        justify-content: center;
        align-items: center;
       
        /* border: 1px solid salmon; */
    }

    .content-6{
        background-color: #727272;
          width: 580px;
           border: 1px solid skyblue;
           padding: 10px;
           border-radius: 10px;
           align-items: center;
           margin: 0  175px ;
        border-right: 10px;
    }
    .content-8{
        background-color: #727272;
        width: 550px;
         border: 1px solid skyblue;
         padding: 12px;
         border-radius: 10px;
         align-items: center;
         margin: 0  175px ;
      border-right: 10px;
    }
    
    .training{
        align-items: center;
        margin: 0  200px ;
     text-align: center;
    }
    .heading{
        align-items: center;
        margin: 0  200px ;
        font-size: 2rem;
        text-align: center;
    }
    .section div img-1{
        color: antiquewhite;

    } 
    .training-1{
        align-items: center;
        margin: 0  200px ;
     text-align: center;
    }
    .heading-1{
        align-items: center;
        margin: 0  200px ;
        font-size: 2rem;
        text-align: center;
    }

    /*form style*/
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;

        /* border: 2px solid blueviolet  ; */
        width: 20%;
    }
    .form input{
        margin-top: 7px;
        padding-top: 7px;
    }
    .size{
        width: 300px;
    }
    .size-1{
        width: 150px;
    }
   
    .div-1.2{
        background-color: #727272;
          width: 600px;
           border: 1px solid skyblue;
           padding: 10px;
           border-radius: 10px;
           align-items: center;
           margin: 0  175px ;
          border-right: 10px;
    }
    
  
    .heading-3{
        align-items: center;
        margin: 0  200px ;
       text-align: center;

    }
    .heading-3.1{
        text-align: center;
        align-items: center;
        margin: 0  200px ;
        font-size: 2rem;
       
    }
    /*footer style*/
    .footer{
        
        background-color: #727272;
        width: 720px;
        height: 300px;
         border: 1px solid skyblue;
         padding: 10px;
         border-radius: 10px;
         align-items: center;
         margin: 0  175px ;
      border-right: 10px;
      justify-content: space-between;
      text-align: center;
      text-decoration: none;
    }
    .footer{
       
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            margin: 0  100px ;
    }
    .footer{
          align-items: center;
          text-align: center;
          

    }
    .footer h1{
        color: #FD6E0A;
    }
    .footer h3{
        color: white;
    }
   
    .center-2{
         align-items: center;
         text-align: center;
    }